.cal-container {
  height: calc(100vh - 15vh);
  display: flex;
  width: 85vw;
  margin: 0 auto;
  justify-content: space-between;
}

.cal-container h2 {
  align-self: center;
  letter-spacing: 5px;
  font-size: 3em;
  margin-top: -3em;
  color: lightgray;
  text-shadow: 2px 2px 5px #2f2e2e;
}

.calculator {
  align-self: center;
}

.calculator > div {
  width: 30em;
  padding: 1em;
  height: 70vh;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background: linear-gradient(140deg, #cdd3d7db, #eee8e8);
  box-shadow: 4px 4px 10px #c1c1c1, -4px -4px 10px #fff;
}

.display {
  width: 100%;
  display: flex;
  height: 15vh;
  padding: 1em;
  font-size: 2em;
  font-weight: 700;
  color: #f94892;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1em;
  justify-content: flex-end;
  background-color: #eeeded;
  text-shadow: 1px 1px 2px #000;
  box-shadow: inset 4px 4px 4px #c1c1c1, -4px -4px 4px #ddd;
}

.display > p {
  border-radius: 10px;
}

.keys {
  width: 100%;
  height: 100%;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  border: #c1c1c1;
  border-radius: 10px;
  background: #eeeeeea8;
  box-shadow: 4px 4px 10px #c1c1c1;
  width: calc(25% - 1em);
}

.btn:hover {
  cursor: pointer;
  background-color: #f94892;
  color: #fff;
  transition: all 0.5s ease-in;
}

.btn:nth-child(17) {
  width: calc(50% - 1em);
}

.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12),
.btn:nth-child(16),
.btn:nth-child(19) {
  background-color: #f94892;
}

.btn:nth-child(4):hover,
.btn:nth-child(8):hover,
.btn:nth-child(12):hover,
.btn:nth-child(16):hover,
.btn:nth-child(19):hover {
  background-color: #eee;
  color: #f94892;
}
